<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>展示账户数据列表</h1>
<table border="1">

<tr>
    <th>账户id</th>
    <th>账户名称</th>
    <th>money</th>

    <th>操作</th>
</tr>

    <tr th:each="account,iterStat : ${accountList}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${account.id}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.money}"></td>
        <td><a href="/test">增加</a>&nbsp<a th:href="'/test2/'+${account.id}">删除</a></td>
    </tr>
</table>
</body>
</html>